@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.section {
  padding: 60px 30px;
  background-color: #161616;
}
.section__wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.section__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}
.section__title {
  font-size: 36px;
  color: #fff;
  font-weight: 600;
}
.section__title--underline {
  position: relative;
}
.section__title--underline::after {
  content: "";
  width: 100px;
  height: 4px;
  border-radius: 10px;
  background-color: #DF3A3A;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.section__subtitle {
  font-size: 18px;
  color: #ccc;
  font-weight: 200;
  line-height: 30px;
}

.nav {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 2;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px 20px;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.nav__logo {
  max-width: 180px;
}
.nav__menu-list, .nav__icons-menu {
  display: none;
}
.nav__menu-link {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s ease-in-out;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 16px;
}
.nav__menu-link:hover {
  color: #fff;
}
.nav__icons-menu-icon {
  width: 32px;
}
.nav__icons-menu-item:first-child .nav__icons-menu-icon {
  width: 28px;
  margin-top: -5px;
}
.nav__hamburger-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 32px;
  cursor: pointer;
}
.nav__hamburger-item {
  width: 100%;
  height: 4px;
  background-color: #fff;
}
.nav__hamburger-item:nth-child(2) {
  transform: skew(-30deg);
}

.hero {
  background-color: #000;
  height: 90vh;
  background-image: url(/images/final2.jpg?bcbf14bcc9c923bfc6cfb7c280f7aa50);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -250px;
  position: relative;
  color: #fff;
}
.hero__text {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: calc(50% + 25px);
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.hero__welcome {
  font-size: 24px;
  max-width: 500px;
  width: 100%;
  position: relative;
  animation: fade-in-left 1s ease-in-out both;
}
.hero__welcome::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 120px;
}
.hero__header {
  font-size: 48px;
  color: #fff;
  max-width: 550px;
  animation: fade-in-left 1s ease-in-out 0.5s both;
}
.hero__description {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  max-width: 500px;
  animation: fade-in-left 1s ease-in-out 1s both;
}
.hero__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}
.hero__button {
  padding: 10px 20px;
  border: 2px solid #DF3A3A;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width: 170px;
  text-align: center;
  animation: fade-in-left 1s ease-in-out 1.5s both;
}
.hero__button:hover {
  background-color: #DF3A3A;
  color: #fff;
}
.hero__button--colored {
  background-color: #DF3A3A;
  color: #fff;
  animation: fade-in-left 1s ease-in-out 2s both;
}
.hero__button--colored:hover {
  background-color: transparent;
  color: #fff;
}
.hero__bullets {
  display: none;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 200px;
  background: linear-gradient(to bottom, transparent, #161616);
}

.genres__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 100%;
}
.genres__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #1f1e1e;
  box-shadow: 0 0 3px #131212;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 290px;
}
.genres__item:hover {
  transform: translateY(-15px);
}
.genres__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.genres__name {
  color: #fff;
  margin: 0;
}
.genres__description {
  margin: 0;
  color: #ccc;
  font-weight: 300;
}
.genres__link {
  color: #DF3A3A;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.genres__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  transition: 0.2s ease-in-out;
  background-color: #DF3A3A;
}
.genres__link:hover {
  color: #DF3A3A;
}
.genres__link:hover::after {
  left: 0;
}
.genres__icon-wrapper {
  background-color: #161616;
  padding: 10px;
  border-radius: 10px;
}
.genres__icon {
  width: 48px;
}

.popular__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 0px;
  width: 100%;
}
.popular__list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.popular__movies {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  width: 100%;
  max-width: 1400px;
  position: relative;
}
.popular__movies-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: -moz-fit-content;
  width: fit-content;
}
.popular__movie {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.popular__poster {
  width: 100%;
  position: relative;
}
.popular__poster::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.popular__title {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 0;
  margin-top: 10px;
  transition: 0.2s ease-in-out;
}
.popular__link {
  text-decoration: none;
}
.popular__link:hover .popular__title {
  color: #DF3A3A;
}
.popular__link:hover .popular__poster:after {
  opacity: 1;
}
.popular__info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #fff;
  gap: 10px;
}
.popular__rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
}
.popular__rating-star {
  width: 24px;
  margin-top: -4px;
}
.popular__description {
  color: #ccc;
}
.popular__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.popular__line {
  height: 1px;
  background-color: #ccc;
  flex-basis: 80%;
}
.popular__arrows {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 100%;
  flex-basis: 20%;
}
.popular__arrow-wrapper {
  padding: 10px;
  border-radius: 50rem;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  background-color: transparent;
  outline: none;
  color: #ccc;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular__arrow-wrapper:hover {
  background-color: #DF3A3A;
  cursor: pointer;
}
.popular__arrow {
  width: 36px;
}

.about__wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.about__item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
}
.about__title {
  color: #fff;
}
.about__description {
  color: #ccc;
  font-weight: 300;
}
.about__icon {
  width: 56px;
}

.testimonials__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 20px;
}
.testimonials__item {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #1f1e1e;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  text-align: center;
}
.testimonials__quote {
  position: relative;
}
.testimonials__quote::after, .testimonials__quote::before {
  content: '"';
  color: #DF3A3A;
  margin: 2px;
}
.testimonials__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.footer {
  background-color: #1f1e1e;
  padding: 60px 40px 20px 40px;
}
.footer__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
  list-style: none;
}
.footer__heading {
  color: #fff;
  margin-bottom: 30px;
  position: relative;
}
.footer__heading::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 2px;
  border-radius: 50rem;
  background-color: #DF3A3A;
}
.footer__link {
  color: #ccc;
  font-weight: 300;
  text-decoration: none;
}
.footer__text {
  color: #ccc;
  font-weight: 300;
}
.footer__column {
  width: 100%;
  margin-bottom: 40px;
}
.footer__author {
  padding-top: 20px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.footer__author-link {
  color: #DF3A3A;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.footer__author-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 1px;
  transition: 0.2s ease-in-out;
  background-color: #DF3A3A;
}
.footer__author-link:hover {
  color: #DF3A3A;
}
.footer__author-link:hover::before {
  left: 0;
}
.footer__icon {
  width: 20px;
}
.footer__link {
  transition: 0.2s ease-in-out;
}
.footer__link:hover {
  color: #DF3A3A;
}

.movie-info {
  width: 100%;
  height: 125vh;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 500px;
  display: none;
}
.movie-info__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.movie-info::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.movie-info::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #161616);
  z-index: 0;
}
.movie-info__wrapper {
  color: #fff;
  position: absolute;
  left: 50%;
  top: calc(80px + 5vh);
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1300px;
  transform: translateX(-50%);
  z-index: 1;
}
.movie-info__title {
  color: #fff;
  font-size: 48px;
}
.movie-info__description {
  color: #fff;
  font-weight: 300;
  max-width: 700px;
}
.movie-info__details {
  flex-basis: 100%;
}
.movie-info__images {
  flex-basis: 100%;
}
.movie-info__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.movie-info__basic-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}
.movie-info__rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-size: 22px;
  flex-basis: 100%;
}
.movie-info__rating-star {
  width: 28px;
  margin-top: -5px;
}
.movie-info__genres {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.movie-info__genres::after {
  content: "•";
  position: absolute;
  left: calc(100% + 8px);
}
.movie-info__genre-link {
  transition: 0.2s all ease-in-out;
}
.movie-info__genre-link:hover {
  color: #DF3A3A;
}
.movie-info__genre-link::after {
  content: ",";
  margin-right: 3px;
}
.movie-info__genre-link, .movie-info__length, .movie-info__release-date {
  text-decoration: none;
  color: #ccc;
  font-weight: 300;
}
.movie-info__length {
  position: relative;
}
.movie-info__length::after {
  content: "•";
  position: absolute;
  left: calc(100% + 8px);
}
.movie-info__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.movie-info__button {
  padding: 10px 20px;
  border: 2px solid #DF3A3A;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width: 190px;
  text-align: center;
}
.movie-info__button:hover {
  background-color: #DF3A3A;
  color: #fff;
}
.movie-info__button--colored {
  background-color: #DF3A3A;
  color: #fff;
}
.movie-info__button--colored:hover {
  background-color: transparent;
  color: #fff;
}
.movie-info__posters {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.movie-info__posters-heading {
  font-weight: 300;
  margin-top: 10px;
}
.movie-info__posters-wrapper {
  width: 100%;
  overflow: hidden;
  max-width: 1300px;
}
.movie-info__posters-slider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.movie-info__poster {
  width: 225px;
  border-radius: 10px;
}

.movie-more__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}
.movie-more__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.movie-more__poster {
  width: 100%;
  max-width: 280px;
  border-radius: 10px;
}
.movie-more__socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.movie-more__social {
  width: 36px;
}
.movie-more__social--website {
  position: relative;
  width: 46px;
}
.movie-more__info {
  background-color: #1f1e1e;
  padding: 20px;
  border-radius: 10px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}
.movie-more__info-column {
  flex-basis: 100%;
}
.movie-more__info-heading {
  color: #fff;
  flex-basis: 100%;
  margin-bottom: 15px;
}
.movie-more__info-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: #fff;
}
.movie-more__info-detail {
  flex-basis: 48%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.movie-more__actors {
  margin-top: 40px;
}
.movie-more__actors-heading {
  color: #fff;
  font-weight: 300;
  position: relative;
}
.movie-more__actors-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
  height: 2px;
  background-color: #DF3A3A;
  border-radius: 10px;
}
.movie-more__actors-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.movie-more__actor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
}
.movie-more__actor-photo {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50rem;
  position: relative;
  display: block;
}
.movie-more__actor-photo::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50rem;
}
.movie-more__actor-name {
  color: #ccc;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}
.movie-more__actor-role {
  text-align: center;
  font-weight: 500;
  color: #fff;
}
.movie-more__actor-more {
  width: 120px;
  height: 120px;
  background-color: #1f1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.movie-more__actor-more-icon {
  width: 64px;
}
.movie-more__similar {
  margin-top: 40px;
}
.movie-more__similar-heading {
  color: #fff;
  font-weight: 300;
  position: relative;
}
.movie-more__similar-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
  height: 2px;
  background-color: #DF3A3A;
  border-radius: 10px;
}
.movie-more__similar-wrapper {
  max-width: 1300px;
  overflow-x: hidden;
  position: relative;
}
.movie-more__similar-slider {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: -moz-fit-content;
  width: fit-content;
}
.movie-more__similar-item {
  display: flex;
  width: 200px;
  text-decoration: none;
  color: #ccc;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease-in-out;
}
.movie-more__similar-item:hover {
  color: #fff;
}
.movie-more__similar-image {
  width: 100%;
  border-radius: 10px;
}
.movie-more__similar-title {
  font-weight: 300;
}
.movie-more__similar-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}
.movie-more__similar-line {
  height: 1px;
  background-color: #ccc;
  flex-basis: 80%;
}
.movie-more__similar-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  flex-basis: 20%;
}
.movie-more__similar-arrow-wrapper {
  padding: 10px;
  border-radius: 50rem;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  background-color: transparent;
  outline: none;
  color: #ccc;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-more__similar-arrow-wrapper:hover {
  background-color: #DF3A3A;
  cursor: pointer;
}
.movie-more__similar-arrow {
  width: 36px;
}

.movie-mobile-background {
  width: 100%;
  height: 25vh;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: center;
  min-height: 400px;
}
.movie-mobile-background::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.movie-mobile-background::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, transparent, #161616);
  z-index: 0;
}

.movie-mobile-info {
  background-color: #161616;
}
.movie-mobile-info__wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #fff;
  gap: 30px;
}
.movie-mobile-info__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-mobile-info__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.movie-mobile-info__action-icon {
  width: 28px;
}
.movie-mobile-info__title {
  margin-bottom: 0;
}
.movie-mobile-info__details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  color: #ccc;
}
.movie-mobile-info__genres {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.movie-mobile-info__genres::after {
  content: "•";
  position: absolute;
  left: calc(100% + 8px);
}
.movie-mobile-info__genres::before {
  content: "•";
  position: absolute;
  right: calc(100% + 8px);
}
.movie-mobile-info__genre-link {
  text-decoration: none;
  color: #ccc;
}
.movie-mobile-info__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}
.movie-mobile-info__button {
  padding: 10px 20px;
  border: 2px solid #DF3A3A;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width: 190px;
  text-align: center;
}
.movie-mobile-info__button:hover {
  background-color: #DF3A3A;
  color: #fff;
}
.movie-mobile-info__button--colored {
  background-color: #DF3A3A;
  color: #fff;
}
.movie-mobile-info__button--colored:hover {
  background-color: transparent;
  color: #fff;
}
.movie-mobile-info__posters {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.movie-mobile-info__posters-heading {
  font-weight: 300;
  margin-top: 10px;
}
.movie-mobile-info__posters-wrapper {
  width: 100%;
  overflow: hidden;
  max-width: 1300px;
}
.movie-mobile-info__posters-slider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.movie-mobile-info__poster {
  width: 225px;
  border-radius: 10px;
}

.category {
  background-color: #161616;
}
.category__banner {
  width: 100%;
  min-height: 25vh;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 100px;
  background: #DF3A3A;
  background-image: url(/images/category-background.jpg?bcbd4d259b798fece06d6e1f28b9aa90);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 25px;
}
.category__banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.category__name {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  color: #fff;
  position: relative;
  z-index: 1;
  font-size: 36px;
  line-height: 1.3;
}
.category__wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.category__movie {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.category__movie-image {
  width: 100%;
  margin-bottom: 10px;
}
.category__movie-title {
  margin-bottom: 0;
  color: #fff;
  font-size: 28px;
  transition: 0.2s ease-in-out;
}
.category__movie-link {
  text-decoration: none;
}
.category__movie-link:hover .category__movie-title {
  color: #DF3A3A;
}
.category__movie-info {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}
.category__star {
  color: #DF3A3A;
  margin-right: 5px;
  margin-top: -3px;
}
.category__movie-excerpt {
  color: #fff;
}

@media (min-width: 768px) {
  .movie-more__wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
  .movie-more__links {
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
  }
  .category__wrapper {
    justify-content: space-between;
  }
  .footer__column {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .movie-mobile-background,
  .movie-mobile-info {
    display: none;
  }
  .movie-info {
    display: block;
  }
  .section {
    padding: 80px 40px;
    background-color: #161616;
  }
  .section__title {
    font-size: 52px;
    flex-basis: calc(60% - 20px);
  }
  .section__subtitle {
    font-size: 22px;
    flex-basis: calc(40% - 20px);
  }
  .section__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    text-align: left;
  }
  .nav__menu-link {
    font-size: 18px;
  }
  .nav__menu-list, .nav__icons-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin-bottom: 0;
    height: 100%;
  }
  .nav__hamburger-wrapper {
    display: none;
  }
  .hero {
    height: 80vh;
    background-size: contain;
    background-position: right;
  }
  .hero__description {
    font-size: 18px;
  }
  .hero__welcome {
    font-size: 28px;
  }
  .hero__welcome::after {
    width: 200px;
    left: 150px;
  }
  .hero__header {
    font-size: 76px;
    color: #fff;
  }
  .hero__button {
    font-size: 18px;
  }
  .hero__bullets {
    position: absolute;
    top: 50%;
    right: 30px;
    list-style: none;
    margin-bottom: 0;
    height: 100%;
    z-index: 1;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 130px;
  }
  .hero__bullet {
    transform: rotate(90deg);
    position: relative;
    animation: fade-in-left-bullets 1s ease-in-out 2.5s both;
  }
  .hero__bullet::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #DF3A3A;
  }
  .about__wrapper {
    gap: 40px;
  }
  .popular__movie {
    max-width: 300px;
  }
  .footer__column {
    width: 22%;
  }
  .movie-info {
    height: 100vh;
  }
  .movie-info__wrapper {
    bottom: 20px;
    top: auto;
    gap: 20px;
  }
  .movie-info__title {
    font-size: 76px;
  }
  .movie-info__rating {
    flex-basis: auto;
  }
  .movie-info__button {
    font-size: 18px;
  }
  .movie-more__actors-wrapper {
    gap: 40px;
    justify-content: flex-start;
  }
  .movie-more__similar-wrapper {
    gap: 40px;
    justify-content: flex-start;
  }
  .movie-more__info-column {
    flex-basis: 47%;
  }
  .category__name {
    font-size: 48px;
  }
  .category__banner {
    min-height: 30vh;
    padding-top: 120px;
  }
}
@media (min-width: 1600px) {
  .movie-info__wrapper {
    bottom: 100px;
  }
}
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-left-bullets {
  0% {
    opacity: 0;
    transform: translateY(-50px) rotate(90deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
