$primary-font: 'Poppins',
    sans-serif;
$dark-black: #131212;
$primary-color: #161616;
$light-black: #1f1e1e;
$primary-red: #DF3A3A;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
}

$mobile-big-heading-text: 48px;
$mobile-heading-text: 36px;
$mobile-subtitle-text: 18px;
$mobile-body-text: 16px;

$desktop-big-heading-text: 76px;
$desktop-heading-text: 52px;
$desktop-subtitle-text: 22px;
$desktop-body-text: 18px;


.section {
    padding: 60px 30px;
    background-color: $primary-color;

    &__wrapper {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
    }

    &__title {
        font-size: $mobile-heading-text;
        color: #fff;
        font-weight: 600;

        &--underline {
            position: relative;

            &::after {
                content: "";
                width: 100px;
                height: 4px;
                border-radius: 10px;
                background-color: $primary-red;
                position: absolute;
                bottom: -5px;
                left: 0;
                // transform: translateX(-50%);
            }
        }
    }

    &__subtitle {
        font-size: $mobile-subtitle-text;
        color: #ccc;
        font-weight: 200;
        line-height: 30px;
    }
}

.nav {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 4;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;


    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 1400px;
        margin: 0 auto;
    }

    &__logo {
        max-width: 180px;
    }

    &__menu-list,
    &__icons-menu {
        display: none;
    }

    &__menu-link {
        text-decoration: none;
        color: #ccc;
        transition: 0.3s ease-in-out;
        font-weight: 400;
        letter-spacing: 0.5px;
        font-size: $mobile-body-text;

        &:hover {
            color: #fff;
        }
    }

    &__icons-menu-icon {
        font-size: 24px;
        color: #fff;
        transition: 0.3s ease-in-out;
    }

    &__arrow-link {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        margin-left: -2px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    &__profile-arrow {
        margin-left: -1.5px;
        transition: 0.2s ease-in-out;

        &--rotated {
            transform: rotate(180deg);
            margin-left: 0;
        }
    }

    &__icons-menu-item--auth {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 7px;
        color: #fff;
        position: relative;
        z-index: 4;
    }

    &__profile-list {
        position: absolute;
        top: 40px;
        right: 0;
        background-color: $primary-color;
        width: calc(100% + 50px);
        border-top: 2px solid transparent;
        height: 0;
        opacity: 0;
        list-style: none;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 4;
        transition: 0.3s ease-in-out;

        &--active {
            height: fit-content;
            opacity: 1;
            border-color: $primary-red;
        }
    }

    &__profile-item {
        padding: 15px 0;
        text-align: left;
        width: 100%;
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: $dark-black;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: 0.4s ease-in;
            transition: 0.2s ease-out;
        }
    }

    &__profile-link {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        opacity: 0;
        transition: 0.4s ease-in;
        transition: 0.2s ease-out;
        background-color: transparent;
        outline: none;
        border: none;

        &:hover {
            color: $primary-red;
        }
    }

    &__profile-list--active &__profile-link {
        opacity: 1;
    }

    &__icons-menu-link {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
        transition: 0.3s ease-in-out;

        &:hover {
            color: $primary-red;
        }
    }

    &__icons-menu-link:hover &__icons-menu-icon {
        color: $primary-red;
    }

    &__hamburger-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
        width: 32px;
        cursor: pointer;
    }

    &__hamburger-item {
        width: 100%;
        height: 4px;
        background-color: #fff;

        &:nth-child(2) {
            transform: skew(-30deg);
        }
    }

}


.hero {
    background-color: #000;
    height: 90vh;
    background-image: url("../../public/img/final2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -250px;
    position: relative;
    color: #fff;

    &__text {
        max-width: 1400px;
        width: 80%;
        margin: 0 auto;
        position: absolute;
        top: calc(50% + 25px);
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
    }

    &__welcome {
        font-size: 24px;
        max-width: 500px;
        width: 100%;
        position: relative;
        animation: fade-in-left 1s ease-in-out both;

        &::after {
            content: "";
            width: 100px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 120px;
        }
    }

    &__header {
        font-size: $mobile-big-heading-text;
        color: #fff;
        max-width: 550px;
        animation: fade-in-left 1s ease-in-out 0.5s both;
    }

    &__description {
        color: #fff;
        font-size: $mobile-body-text;
        font-weight: 300;
        max-width: 500px;
        animation: fade-in-left 1s ease-in-out 1s both;
    }

    &__buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        max-width: 500px;
        margin-top: 20px;
    }

    &__button {
        padding: 10px 20px;
        border: 2px solid $primary-red;
        color: #fff;
        font-weight: 500;
        font-size: $mobile-body-text;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        width: 185px;
        text-align: center;
        animation: fade-in-left 1s ease-in-out 1.5s both;

        &:hover {
            background-color: $primary-red;
            color: #fff;
        }

        &--colored {
            background-color: $primary-red;
            color: #fff;
            animation: fade-in-left 1s ease-in-out 2s both;

            &:hover {
                background-color: transparent;
                color: #fff;
            }
        }
    }

    &__bullets {
        display: none;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        height: 200px;
        background: linear-gradient(to bottom, transparent, $primary-color);
    }
}

.genres {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        width: 100%;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 30px;
        border-radius: 10px;
        background-color: $light-black;
        box-shadow: 0 0 3px $dark-black;
        width: fit-content;
        position: relative;
        transition: all .2s ease-in-out;
        width: 290px;

        &:hover {
            transform: translateY(-15px);
        }

    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }

    &__name {
        color: #fff;
        margin: 0;
    }

    &__description {
        margin: 0;
        color: #ccc;
        font-weight: 300;
    }

    &__link {
        color: $primary-red;
        text-decoration: none;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            transition: 0.3s ease-in-out;
            background-color: $primary-red;
        }

        &:hover {
            color: $primary-red;
        }

        &:hover::after {
            left: 0;
        }
    }

    &__icon-wrapper {
        background-color: $primary-color;
        padding: 10px;
        border-radius: 10px;
    }

    &__icon {
        width: 48px;
    }
}

.popular {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        padding: 30px 0px;
        width: 100%;
    }

    &__list {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }

    &__movies {
        width: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        overflow: hidden;
        width: 100%;
        max-width: 1400px;
        position: relative;
    }

    &__movies-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        width: fit-content;
    }

    &__movie {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }

    &__poster {
        width: 100%;
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: 0.3s ease-in-out;
        }
    }

    &__title {
        color: #fff;
        font-size: 1.8rem;
        margin-bottom: 0;
        margin-top: 10px;
        transition: 0.3s ease-in-out;
    }

    &__link {
        text-decoration: none;
    }

    &__link:hover &__title {
        color: $primary-red;
    }

    &__link:hover &__poster:after {
        opacity: 1;
    }

    &__info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        color: #fff;
        gap: 10px;
    }

    &__rating {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3px;
    }

    &__rating-star {
        width: 24px;
        margin-top: -4px;
    }

    &__description {
        color: #ccc;
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    &__line {
        height: 1px;
        background-color: #ccc;
        flex-basis: 80%;
    }

    &__arrows {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        width: 100%;
        flex-basis: 20%;
    }

    &__arrow-wrapper {
        padding: 10px;
        border-radius: 50rem;
        width: 50px;
        height: 50px;
        border: 1px solid #ccc;
        background-color: transparent;
        outline: none;
        color: #ccc;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $primary-red;
            cursor: pointer;
        }
    }

    &__arrow {
        width: 36px;
    }
}


.about {
    &__wrapper {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        padding: 10px;
        width: 100%;
        max-width: 400px;
    }

    &__title {
        color: #fff;
    }

    &__description {
        color: #ccc;
        font-weight: 300;
    }

    &__icon {
        width: 56px;
    }
}

.testimonials {

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        padding-top: 20px;
    }

    &__item {
        width: 100%;
        max-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: $light-black;
        border-radius: 10px;
        padding: 20px;
        color: #fff;
        text-align: center;
    }

    &__quote {
        position: relative;

        &::after,
        &::before {
            content: '"';
            color: $primary-red;
            margin: 2px;
        }
    }

    &__image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

}

.footer {
    background-color: $light-black;
    padding: 60px 40px 20px 40px;

    &__wrapper {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        border-bottom: 1px solid #ccc;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        gap: 10px;
        list-style: none;
    }

    &__heading {
        color: #fff;
        margin-bottom: 30px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 50px;
            height: 2px;
            border-radius: 50rem;
            background-color: $primary-red;
        }
    }

    &__link {
        color: #ccc;
        font-weight: 300;
        text-decoration: none;
    }

    &__text {
        color: #ccc;
        font-weight: 300;
    }

    &__column {
        width: 100%;
        margin-bottom: 40px;
    }

    &__author {
        padding-top: 20px;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    &__author-link {
        color: $primary-red;
        text-decoration: none;
        position: relative;
        overflow: hidden;
        display: inline-block;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: -100%;
            width: 100%;
            height: 1px;
            transition: 0.3s ease-in-out;
            background-color: $primary-red;
        }

        &:hover {
            color: $primary-red;
        }

        &:hover::before {
            left: 0;
        }
    }

    &__icon {
        width: 20px;
    }

    &__link {
        transition: 0.3s ease-in-out;

        &:hover {
            color: $primary-red;
        }
    }
}

.movie-info {
    width: 100%;
    height: 125vh;
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 500px;
    display: none;

    &__image {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 0;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent, $primary-color);
        z-index: 0;
    }

    &__wrapper {
        color: #fff;
        position: absolute;
        left: 50%;
        top: calc(80px + 5vh);
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        max-width: 1300px;
        transform: translateX(-50%);
        z-index: 1;
    }

    &__title {
        color: #fff;
        font-size: $mobile-big-heading-text;
    }

    &__description {
        color: #fff;
        font-weight: 300;
        max-width: 700px;
    }

    &__details {
        flex-basis: 100%;
    }

    &__images {
        flex-basis: 100%;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    &__basic-details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        flex-wrap: wrap;
    }

    &__rating {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        font-size: $desktop-subtitle-text;
        flex-basis: 100%;
    }

    &__rating-star {
        width: 28px;
        margin-top: -5px;
    }

    &__genres {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;

        &::after {
            content: "•";
            position: absolute;
            left: calc(100% + 8px);
        }
    }

    &__genre-link {
        transition: 0.3s all ease-in-out;

        &:hover {
            color: $primary-red;
        }

        &::after {
            content: ",";
            margin-right: 3px;
        }

    }

    &__genre-link,
    &__length,
    &__release-date {
        text-decoration: none;
        color: #ccc;
        font-weight: 300;
    }

    &__length {
        position: relative;

        &::after {
            content: "•";
            position: absolute;
            left: calc(100% + 8px);
        }
    }

    &__buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
    }

    &__spacer {
        height: 25px;
        width: 1px;
        background-color: #fff;
    }

    &__icon {
        font-size: 28px;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: translateY(-3px);
        }

        &--active {
            color: $primary-red;
        }
    }

    &__actions {
        display: flex;
        gap: 15px;
    }

    &__button {
        padding: 10px 20px;
        border: 2px solid $primary-red;
        color: #fff;
        font-weight: 500;
        font-size: $mobile-body-text;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        width: 190px;
        text-align: center;

        &:hover {
            background-color: $primary-red;
            color: #fff;
        }

        &--colored {
            background-color: $primary-red;
            color: #fff;

            &:hover {
                background-color: transparent;
                color: #fff;
            }
        }
    }

    &__posters {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    &__posters-heading {
        font-weight: 300;
        margin-top: 10px;
    }

    &__posters-wrapper {
        width: 100%;
        overflow: hidden;
        max-width: 1300px;
    }

    &__posters-slider {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
    }

    &__poster {
        width: 225px;
        border-radius: 10px;
    }

}

.movie-more {

    &__wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        flex-direction: column;
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    &__poster {
        width: 100%;
        max-width: 280px;
        border-radius: 10px;
    }

    &__socials {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    &__social {
        width: 36px;

        &--website {
            position: relative;
            width: 46px;
        }
    }

    &__info {
        background-color: $light-black;
        padding: 20px;
        border-radius: 10px;
        flex-grow: 1;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        flex-wrap: wrap;
    }

    &__info-column {
        flex-basis: 100%;
    }

    &__info-heading {
        color: #fff;
        flex-basis: 100%;
        margin-bottom: 15px;
    }

    &__info-details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        color: #fff;
    }

    &__info-detail {
        flex-basis: 48%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        // gap: 5px;
        flex-direction: column;
    }



    &__actors {
        margin-top: 40px;
    }

    &__actors-heading {
        color: #fff;
        font-weight: 300;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 50px;
            height: 2px;
            background-color: $primary-red;
            border-radius: 10px;
        }
    }

    &__actors-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    &__actor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 150px;
    }

    &__actor-photo {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50rem;
        position: relative;
        display: block;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 50rem;
        }
    }

    &__actor-name {
        color: #ccc;
        text-align: center;
        font-weight: 300;
        font-size: $mobile-body-text;
        margin: 0;
    }

    &__actor-role {
        text-align: center;
        font-weight: 500;
        color: #fff;
    }

    &__actor-more {
        width: 120px;
        height: 120px;
        background-color: $light-black;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    &__actor-more-icon {
        width: 64px;
    }


    &__similar {
        margin-top: 40px;
    }

    &__similar-heading {
        color: #fff;
        font-weight: 300;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 50px;
            height: 2px;
            background-color: $primary-red;
            border-radius: 10px;
        }
    }

    &__similar-wrapper {
        max-width: 1300px;
        overflow-x: hidden;
        position: relative;
    }

    &__similar-slider {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        width: fit-content;
    }

    &__similar-item {
        display: flex;
        width: 200px;
        text-decoration: none;
        color: #ccc;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: 0.3s ease-in-out;

        &:hover {
            color: #fff;
        }

    }

    &__similar-image {
        width: 100%;
        border-radius: 10px;
    }

    &__similar-title {
        font-weight: 300;
    }

    &__similar-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;
        margin-top: 20px;
    }

    &__similar-line {
        height: 1px;
        background-color: #ccc;
        flex-basis: 80%;
    }

    &__similar-arrows {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        flex-basis: 20%;
    }

    &__similar-arrow-wrapper {
        padding: 10px;
        border-radius: 50rem;
        width: 50px;
        height: 50px;
        border: 1px solid #ccc;
        background-color: transparent;
        outline: none;
        color: #ccc;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $primary-red;
            cursor: pointer;
        }
    }

    &__similar-arrow {
        width: 36px;
    }
}

.movie-mobile-background {
    width: 100%;
    height: 25vh;
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: center;
    min-height: 400px;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 0;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(to bottom, transparent, $primary-color);
        z-index: 0;
    }
}

.movie-mobile-info {
    background-color: $primary-color;

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 20px;
        color: #fff;
        gap: 30px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    &__icon {
        font-size: 28px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            transform: translateY(-5px);
        }

        &--active {
            color: $primary-red;
        }
    }

    &__title {
        margin-bottom: 0;
    }

    &__details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
        color: #ccc;
    }

    &__genres {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;

        &::after {
            content: "•";
            position: absolute;
            left: calc(100% + 8px);
        }

        &::before {
            content: "•";
            position: absolute;
            right: calc(100% + 8px);
        }
    }

    &__genre-link {
        text-decoration: none;
        color: #ccc;
    }

    &__buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
    }

    &__button {
        padding: 10px 20px;
        border: 2px solid $primary-red;
        color: #fff;
        font-weight: 500;
        font-size: $mobile-body-text;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        width: 190px;
        text-align: center;

        &:hover {
            background-color: $primary-red;
            color: #fff;
        }

        &--colored {
            background-color: $primary-red;
            color: #fff;


            &:hover {
                background-color: transparent;
                color: #fff;
            }
        }
    }

    &__posters {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    &__posters-heading {
        font-weight: 300;
        margin-top: 10px;
    }

    &__posters-wrapper {
        width: 100%;
        overflow: hidden;
        max-width: 1300px;
    }

    &__posters-slider {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
    }

    &__poster {
        width: 225px;
        border-radius: 10px;
    }


}


// Category page

.category {
    background-color: $primary-color;

    &__banner {
        width: 100%;
        min-height: 25vh;
        height: fit-content;
        padding-top: 100px;
        background: $primary-red;
        background-image: url('../../public/img/category-background.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding-bottom: 25px;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    &__name {
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
        color: #fff;
        position: relative;
        z-index: 1;
        font-size: $mobile-heading-text;
        line-height: 1.3;
    }

    &__wrapper {
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 40px 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__movie {
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }

    &__movie-image {
        width: 100%;
        margin-bottom: 10px;
    }

    &__movie-title {
        margin-bottom: 0;
        color: #fff;
        font-size: 28px;
        transition: 0.3s ease-in-out;
    }

    &__movie-link {
        text-decoration: none;
    }

    &__movie-link:hover &__movie-title {
        color: $primary-red;
    }

    &__movie-info {
        display: flex;
        gap: 5px;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
    }

    &__star {
        color: $primary-red;
        margin-right: 5px;
        margin-top: -3px;
    }

    &__movie-excerpt {
        color: #fff;
    }
}

// Search 
.search {
    padding: 120px 0 40px 0;
    background-color: $primary-color;

    &__form {
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
        position: relative;
    }

    &__input {
        width: 100%;
        font-size: 16px;
        padding: 10px 20px 10px 35px;
        background-color: $light-black;
        outline: none;
        border: none;
        color: #eee;
        border-radius: 10px;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: #fff;
    }

    &__wrapper {
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 40px 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__movie {
        width: 100%;
        max-width: 250px;
    }

    &__movie-link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }

    &__movie-link:hover &__movie-title {
        color: $primary-red;
    }

    &__movie-image {
        width: 100%;
        border-radius: 10px;
        max-height: 140px;
        object-fit: cover;
    }

    &__movie-title {
        font-size: 24px;
        color: #fff;
        transition: 0.3s ease-in-out;
    }
}

.list {
    background-color: $primary-color;

    &__wrapper {
        padding: 120px 0;
        width: 90%;
        max-width: 1400px;
        margin: 0 auto;
    }

    &__heading {
        color: #fff;
    }

    &__movies {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 40px;
    }

    &__movie {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        max-width: 240px;
        color: #fff;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }

    &__link {
        text-decoration: none;
    }

    &__title {
        color: #fff;
        transition: 0.3s ease-in-out;
        font-size: 1.8rem;
    }

    &__link:hover &__title {
        color: $primary-red;
    }

    &__rating-star {
        width: 24px;
        margin-top: -5px;
        margin-left: -5px;
    }

    &__info {
        display: flex;
        gap: 5px;
    }

    &__image {
        margin-bottom: 15px;
    }

    &__image {
        width: 100%;
        display: block;
    }

    &__excerpt {
        color: #ccc;
    }

}

// Media Queries
@media(min-width: 768px) {

    .search {
        &__wrapper {
            justify-content: space-between;
        }
    }

    .movie-more {
        &__wrapper {
            flex-direction: row;
            align-items: flex-start;
        }

        &__links {
            justify-content: flex-start;
            align-items: flex-start;
            width: 30%;
        }
    }

    .category {
        &__wrapper {
            justify-content: space-between;
        }
    }

    .footer {
        &__column {
            width: 45%;
        }
    }
}

@media(min-width: 1024px) {

    .list {
        &__movies {
            justify-content: flex-start;
        }

    }

    .search {
        &__input {
            font-size: 20px;
            padding: 20px 30px 20px 50px;
        }

        &__icon {
            left: 15px;
            font-size: 24px;
        }
    }

    .movie-mobile-background,
    .movie-mobile-info {
        display: none;
    }

    .movie-info {
        display: block;
    }

    .section {
        padding: 80px 40px;
        background-color: $primary-color;

        &__title {
            font-size: $desktop-heading-text;
            flex-basis: calc(60% - 20px);
        }

        &__subtitle {
            font-size: $desktop-subtitle-text;
            flex-basis: calc(40% - 20px);
        }

        &__heading {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
            width: 100%;
            gap: 20px;
            text-align: left;
        }
    }

    .nav {
        &__menu-link {
            font-size: $desktop-body-text;
        }

        &__menu-list,
        &__icons-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            list-style: none;
            margin-bottom: 0;
            height: 100%;
        }

        &__hamburger-wrapper {
            display: none;
        }

    }

    .hero {
        height: 80vh;
        background-size: contain;
        background-position: right;

        &__description {
            font-size: $desktop-body-text;
        }

        &__welcome {
            font-size: 28px;

            &::after {
                width: 200px;
                left: 150px;
            }
        }

        &__header {
            font-size: $desktop-big-heading-text;
            color: #fff;
        }

        &__button {
            font-size: $desktop-body-text;
        }

        &__bullets {
            position: absolute;
            top: 50%;
            right: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            list-style: none;
            margin-bottom: 0;
            height: 100%;
            z-index: 1;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 130px;
        }

        &__bullet {
            transform: rotate(90deg);
            position: relative;
            animation: fade-in-left-bullets 1s ease-in-out 2.5s both;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: -20px;
                transform: translateY(-50%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $primary-red;
            }
        }
    }

    .about {
        &__wrapper {
            gap: 40px;
        }
    }

    .popular {
        &__movie {
            max-width: 300px;
        }
    }

    .footer {
        &__column {
            width: 22%;
        }
    }

    .movie-info {
        height: 100vh;

        &__wrapper {
            bottom: 20px;
            top: auto;
            gap: 20px;
        }

        &__title {
            font-size: $desktop-big-heading-text;
        }

        &__rating {
            flex-basis: auto;
        }

        &__button {
            font-size: $desktop-body-text;
        }
    }

    .movie-more {
        &__actors-wrapper {
            gap: 40px;
            justify-content: flex-start;
        }

        &__similar-wrapper {
            gap: 40px;
            justify-content: flex-start;
        }

        &__info-column {
            flex-basis: 47%;
        }
    }

    .category {
        &__name {
            font-size: $mobile-big-heading-text;
        }

        &__banner {
            min-height: 30vh;
            padding-top: 120px;
        }
    }
}


@media(min-width: 1600px) {
    .movie-info {
        &__wrapper {
            bottom: 100px;
        }
    }
}

// Animations 
@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-top {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-left-bullets {
    0% {
        opacity: 0;
        transform: translateY(-50px) rotate(90deg);
    }

    100% {
        opacity: 1;
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes fade-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// .swiper-slide {
//     width: 280px;
// }